@model CosmeticShop.Models.Products.OrderHistory

<style>
    body {
        background-color: #1A1310 !important;
    }
</style>



<section class="container-orders create-product-container container-myself-info">

    <h2>История заказов</h2>
    <div class="container-order back-blur">

        <table class="table-order-index ">
            @if (Model != null)
            {


                @foreach (var order in Model.Orders)
                {

                    @foreach (var opa in order.OrderProuctAccountings)
                    {
                        <tr>
                            <td>
                                <div class="order">
                                    <div class="img-cover">

                                            @Html.Raw("<img class=\"card-img card-img-top\"' src=\"data:image/jpeg;base64,"
                                                +
                                                Convert.ToBase64String(opa.ProductContainer.ProductPictures.GetPreviewPicture().Result)
                                                + "\" />")

                                    </div>

                                </div>

                            </td>
                            <td>
                                <div class="text-title-product-name">
                                    <p>@opa.ProductContainer.ProductName</p>
                                </div>
                            </td>
                            <td>
                                <div class="text-title-cost">

                                    @{
                                        var summaryCost = opa.ProductContainer.Cost * opa.CountRequiredProducts;
                                    }
                                    <p>@summaryCost
                                        <br>
                                        <small class="text-center">руб.коп.</small>
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div class="text-counter">
                                    Количество: @opa.CountRequiredProducts
                                </div>
                            </td>
                        </tr>
                    }

                    <tr>
                        <td colspan="4" style="height: 10px;">
                            <hr>
                        </td>
                    </tr>
                }
            }
        </table>

    </div>
</section>