body .main-element{
    width: auto;
    margin: 60px 144px 120px 144px;

}
body .main-element .container-fluid{
    width: auto;
    margin: 0px;
}


body .main-element .container-fluid .text-container{
    width: 700px;
    margin: 100px 0 170px 0px;
}
body .main-element .container-fluid .text-container .text-title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 36px;
    margin-bottom: 50px;
    color: #fff;
}
body .main-element .container-fluid .text-container .text-title span{
    font-family: 'Montserrat', sans-serif;
    color: #F9BA01;
    font-weight: 600;
    font-size: 42px;
}
body .main-element .container-fluid .text-container .btn{
    width: 260px;
    height: 55px;
    margin-top: 30px;
    padding: 18px 38.5px;
    border-radius: 30px !important;
    
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 107.9%;
    letter-spacing: 0.02em;

    background-color: #F9BA01;
    
}
body .main-element .container-fluid .text-container .text-title .text-content{
    width: 540px;
}
body .main-element .container-fluid .text-container .text-content p{
    color: rgba(255, 255, 255, 0.7);
    width: 420px;
    margin-bottom: 30px;
}

body .main-element .container-fluid .image-container{
    width: 622px;
    margin-left: 610px;
}