body .table-ordering{
    margin: 10px 100px;
}
body .ordering-history{
    margin: 10px 100px;
}
body .total-element {
    width: auto;
}
body .total-element .total{
    padding: 40px;
    border-radius: 8px;
    background: rgba(214, 204, 195, 0.2);
    border: 1.5px solid rgba(255, 255, 255, 0.5);
}

body .total-element .total h3{
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 101.18%;
    
    text-align: center;
    color: rgba(255, 255, 255, 0.9)
}
body .total-element .total .total-cost{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 101.18%;
    
    text-align: center;
    color: rgba(255, 255, 255, 0.9)
}
body .total-element .total .sroll-product{
    overflow: auto;
    height: 500px;
}





body .container-orders{
    background-color: #1A1310 !important;
    margin: 50px 80px !important;
    height: auto;
}
body .container-order{
    padding: 40px 20px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
body .table-product{
    width: 100%;
}
body .table-product tr{
    vertical-align: middle !important;
    height: 200px;
}
body .table-product .tr-btn td{
    vertical-align: middle !important;
    height: 100px !important;
}

body .table-product tr td:nth-child(2){
    text-align: left;
}
body .table-product tr{
    text-align: center;
}
body .table-product tr td{
    height: 200px;
    padding: 10px 15px;
}

body .table-product .order{
    background-color: #1A1310 !important;
    width: 150px;
    height: 200px;
    margin-bottom: 40px;
    border-radius: 8px !important;
}
body .table-product .order:last-child{
    width: 150px;
    height: 200px;
    padding-right: 0px;
}
body .table-product .order .img-cover{
    width: 150px;
    height: 200px;
}
body .table-product .order .card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px !important;
}

body .table-product  .text-title-product-name p{
    width: 150px;
    
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

}
body .table-product .text-title-cost p{
    width: 80px;
    
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

}
body .table-product .text-counter{
    width: 80px;
    
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

body .table-ordering .ordering-element .form-ordering .container-ordering-form .btn-form-group {

    text-align: center;
}
body .table-ordering .ordering-element .form-ordering .container-ordering-form .btn-form-group .btn-outline-pink{
    padding: 10px 45px;
    border-radius: 30px;
    color: #F9BA01;
    border: 1px solid #F9BA01;
    text-align: center;
}
body .table-ordering .ordering-element .form-ordering .container-ordering-form .btn-form-group .btn-outline-pink:hover{
    color: #FFF8F4;
    background-color: #F9BA01;
    
}

/* form */


body .table-ordering .ordering-element {
    width: 700px;
    padding: 20px;
}
body .table-ordering .ordering-element .form-ordering h3{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 101.18%;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.9);
}
body .table-ordering .ordering-element .form-ordering .container-ordering-form {
    margin-bottom: 20px;
    width: 500px;
}
body .table-ordering .ordering-element .form-ordering .container-ordering-form .data-personal-container {
    width: 500px;
}
body .table-ordering .ordering-element .form-ordering .container-ordering-form .data-personal-container .form-group{
    margin-bottom: 10px;
}
body .table-ordering .ordering-element .form-ordering .container-ordering-form .data-personal-container .form-group:last-child{
    margin-bottom: 0px;
}
body .table-ordering .ordering-element .form-ordering .container-ordering-form .data-personal-container .form-group .text-lable{
    font-size: 16px;
    line-height: 33px;
    margin-bottom: -2px;
    color: #ffffff;
}
body .table-ordering .ordering-element .form-ordering .container-ordering-form .data-personal-container .form-group .text-lable-pick{
    font-size: 16px;
    line-height: 33px;
    margin-bottom: -2px;

    font-style: normal;
    font-weight: normal;
    line-height: 101.18%;
    color: #ffffff;
    height: auto;
    
}
body .table-ordering .ordering-element .form-ordering .container-ordering-form .data-personal-container .form-group .form-input{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    background: rgba(214, 204, 195, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    height: 40px;
    border-radius: 12px;
    padding-right: 10px;
}
body .table-ordering .ordering-element .form-ordering .container-ordering-form .data-personal-container .form-group .form-select{
    font-size: 16px;
    color: rgba(154, 154, 154, 0.7);
    background: rgba(214, 204, 195, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    height: 40px;
    border-radius: 12px;
    padding-right: 10px;

    margin-bottom: 25px;
}
body .table-ordering .ordering-element .form-ordering .container-ordering-form #delivery-data-container{
    margin-top: 20px;
}
body .table-ordering .ordering-element .form-ordering .container-ordering-form #delivery-data-container h4{
    margin-bottom: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 101.18%;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.9);
}
